export("data_sm", "data_type",
       "reason_for_skip", "sm_plot",
       "qs_plot", "data_narrow",
       "data_shorten")
S3method(select, survey_sp)
S3method(filter, survey_sp)
S3method('[', survey_sp)

importFrom("tidyverse")